<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GBHW8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GBHW8.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Age" serializeAs="String">
                <value />
            </setting>
            <setting name="Work" serializeAs="String">
                <value />
            </setting>
            <setting name="Hello" serializeAs="String">
                <value>Добрый день!</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
        </GBHW8.Properties.Settings>
    </userSettings>
</configuration>